*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before, *:after{
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkil-text-size-adjust: 100%;
}
input,buttom,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
buttom{cursor: pointer;}
buttom::-mox-focus-iner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*-------------------------------------------------*/



body{
	background-color: #e8e8e8;
	background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-position: 50% 130px;
}

.all{
	padding-top: 140px;
}
h1{
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #808080;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 4px;
	text-align: center;
}
.dones{
	font-family: Times, serif;
	font-size: 29px;
	margin: 0px auto;
	max-width: 600px;
	line-height: 45px;
	text-align: center;
	color: #273d46;
}

.dones:first-letter{
	color: #000000;
	font-size: 35px;
}

img{
	border: 7px solid #ffffff;
	margin: 30px auto;
	display: block;
	max-width: 50%;
}

.first{
	font-family: Times, serif;
	font-size: 20px;
	margin: 0px auto;
	max-width: 650px;
	line-height: 35px;
	color: #808080;
}

.second{
	font-family: Times, serif;
	font-size: 20px;
	margin: 0px auto;
	max-width: 650px;
	line-height: 35px;
	color: #808080;
}

.table{
	font-family: Arial, sans-serif;
	font-size: 18px;
	margin: 15px auto;
	max-width: 600px;
	line-height: 30px;

}

.ber{
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
	background-image: url('../img/check.png');
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 0 0 0 40px;
}

.ike{
	color: #ADD8E6;
	font-style: italic;
	background-image: url('../img/check.png');
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 0 0 0 40px;
}

.och{
	font-weight: 500;
	background-image: url('../img/check.png');
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 0 0 0 40px;
}

.durt{
	color: #A9A9A9;
	text-decoration: line-through;
	background-image: url('../img/check.png');
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 0 0 0 40px;
}

.newlesson{
	font-family: Arial, sans-serif;
	font-size: 18px;
	margin: 0 auto;
	max-width: 600px;
	line-height: 30px;
}
.list2 li{
	background-image: url('../img/check.png');
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 0 0 0 40px;
}

.list2 li:first-child{
	text-shadow: 7px 5px 7px rgba(0, 0, 0, 0.7);
	text-decoration: line-through;
}
.list2 li:nth-child(2){
	font-weight: 500;
}
.list2 li:nth-child(3){
	font-style: italic;
}
.list2 li:last-child{
	text-transform: uppercase;
}
.list3 li{
	background-image: url('../img/check.png');
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 0 0 0 40px;
	max-width: 450px;
}
.list3 li:hover{
	color: orange;
}
.tap{
	display: flex;
	justify-content: space-between;
	max-width: 600px;
	margin: 50px auto;
}
.tap a{
	border-radius: 20px 20px 20px 20px;
	color: white;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 150px;
	min-height: 40px;
	text-align: center;
	letter-spacing: 1.5px;
	font-weight: 700;
	line-height: 30px;
}
.tap a:first-child{
	background-color: #5F9EA0;
	border: 5px solid #5F9EA0;
}
.tap a:nth-child(2){
	background-color: #483D8B;
	border: 5px solid #483D8B;
}
.tap a:nth-child(2):hover{
	color: #483D8B;
	background-color: white;
	border: 5px solid darkgrey;
}
.tap a:last-child{
	background-color: #606060;
	border: 5px solid #606060;
}
.tap a:last-child:active{
	color: #483D8B;
	background-color: white;
	border: 5px solid darkgrey;
}
.forum{
	display: flex;
	justify-content: space-between;
	max-width: 600px;
	margin: 50px auto;
}
input{
	border: 0.5px solid black;
	border-radius: 3px;
	padding: 5px;
	margin: 0 30px 0 30px;
}
input:last-child:hover{
	box-shadow: 10px 5px 7px black;
}

.fire{
	font-family: Times, serif;
	font-size: 20px;
	margin: 0px auto;
	max-width: 650px;
	line-height: 35px;
	color: #273d46;
	margin-bottom: 25px;
}
.nox{
	font-family: Times, serif;
	font-size: 20px;
	margin: 0px auto;
	max-width: 650px;
	line-height: 35px;
	color: #273d46;
}

.fire:first-line{
	color: orange;
}
.nox:first-letter{
	font-size: 35px;
	color: orange;
}

